/BotStrategy.class
/CoinBotStrategy.class
/DummyStrategy.class
/Map.class
/OurTeam.class
/ScoutBotStrategy1.class
/ScoutBotStrategy2.class
/OurSearchingTeam.class
/OurHidingTeam.class
/GhostBotStrategy.class
/Map$Node.class
/RandomHidingTeam.class
/GhostBotScoutingStrategy.class
